.submit_button {
  background-color: #3c4b64;
  color: #fff;
  font-size: 12px;
  font-weight: 900; //   min-width: 100px;
  padding: 5px 20px;
  border-radius: 20px;
}

.button_container {
  float: right;
  margin: 30px 20px;
}
