.form_container {
  background-color: #ebedef00;
}

.sub_header {
  border-bottom: 1px solid #0000004d;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 15px; //   min-width: 200px;
  display: block; //   box-shadow: 0px 2px 0px #0000004d;
}

.submit_button {
  background-color: #3c4b64;
  color: #fff;
  font-size: 12px;
  font-weight: 900; //   min-width: 100px;
  padding: 5px 20px;
  border-radius: 20px;
}

.button_container {
  float: right;
  margin: 30px 20px;
}

.field_spacing {
  margin: 10px 5px;
}

.label_container {
  width: 100px;
}
