.default_input_field {
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #2c384a8a;
  padding: 0px 5px;
  width: 100%;
}
.default_option_field {
  max-height: 30px;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #2c384a8a;
  padding: 0px 5px !important;
}

.default_input_field_container {
  //   margn: 50px;
}
